@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;

}

.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.text-gray {
    /* Dark 2*/
    color: #424242;
}

.text-light-gray {
    color: #727272;
    /* Dark 3*/
}

.text-primary {
    color: #FF900E;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    padding: 1.25em 1.50em;
    font-size: 1.25rem;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s;
}

.btn-primary:hover{
    transform: translateY(-8px);
    background-color: #e27f0e;
    cursor: pointer;
}


/* header styles */


/* navbar related style */

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 17px;
    padding: .5em;
    transition: background-color .3s ease-in-out , transform .3s ease-in-out;
    border-radius: .4em;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item:hover{
    background-color: #FF900E ;
    transform: scale(1.1)  translateY(-2px);
}

.nav-link-home{
    background-color: #FF900E ;
    transform: scale(1.1)  translateY(-2px);
    list-style: none;
    padding: .5em;
    border-radius: .4em;
}

/* banner Related style */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* team and feature styles */

.teams {
    align-items: center;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}


#quick-list {
    font-weight: 500;
}

/* Enjoyable Feature section */
.features{
    display: flex;
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

.features img{
    width: 100%;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#experiance-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experiance-year{
    font-size: 4rem;
    font-weight: 700;
}

/* fact Related Style */

.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}

/* sponsor Section */

.sponser-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    justify-items: center;
}

.sponsor-companies img{
    filter: grayscale(100%);
    transition: all .3s;
}

.sponsor-companies img:hover{
    filter: grayscale(0%);
    /* transform: scale(1.2); */
}


/* footer section here */

footer {
    max-width: 1440px;
    margin: 100px auto 0;
    text-align: center;
    padding: 10px;

}


/* Responsive Media Quary */

@media screen and (max-width: 576px) {

    .navbar,
    .navlinks,
    .features {
        flex-direction: column;
    }

    .teams {
        flex-direction: column-reverse;
    }

    .team-image-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        margin: 0 auto 20px;
    }

    .facts-container, .sponsor-companies {
        justify-items: center;
        gap: 18px;
    }

    #experiance-badge{
        margin-left: 0;
        padding: 20px 20px;
        font-size: 1.1rem;
    }

    #experiance-year{
        font-size: 2rem;
        font-weight: 600;
    }

}



/* Mediam Device Responsive Media Quary */

@media screen and (min-width:577px) and (max-width: 992px) {

    .teams,
    .features {
        flex-direction: column-reverse;
    }

    .our-features {
        margin: 0 auto 30px;
    }

    #experiance-badge{
        margin-left: 0;
        padding: 20px 20px;
    }

    .facts-container, .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }



    

}